@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    margin:0;
    padding:0;
    color: #eee;
    text-decoration: none;
    font-size:90px;
    letter-spacing: 5px;
    font-family: 'Abril Fatface', cursive;
}
body{
    display: flex;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    overflow-y: hidden;
    overflow-x: auto;
}
body::-webkit-scrollbar {
    display: none;
}
main div{
    position: relative;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
}
a{
    z-index: 1000;
    border-bottom:solid 2px #eeeeee37;
    transform: rotate(-90deg);
}
.img-box{
    background: red;
    background-size: cover;
    height: 300px;
    width: 500px;
    transform: rotate(2deg);
    position: absolute;
    z-index: 0;
    transition:height 0.5s,width 0.5s,background-image 0.5s,transform cubic-bezier(0.19,1,0.22,1) 0.4s;
}